.commentsmodal {
    position: absolute;
    left: 10%;
    top: 12%;
    z-index: 1000;
}

.comments_icon {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    border: 3px solid #36bb6e;
    padding: 7px;
    border-radius: 999px;
}