.comments_icon_container {
    position: absolute;
    left: 8%;
    top: 10%;
    z-index: 1000;
}

.comments_icon {
    width: 20px;
    height: 20px;
    background-color: lightgreen;
    border: 3px solid #36bb6e;
    padding: 7px;
    border-radius: 999px;
}

.comments_icon:hover {
    box-shadow: 0 5px 15px #49D884;
    cursor: pointer;
}

.comments_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 80%;
    border: 3px solid #36bb6e;
    border-radius: 5%;
    background-color: black;
}

.comments_header {
    display: flex;
    flex-direction: row;
}

.comments_display {
    width: 100%;
    height: 70%;
}

.comments_footer {
    display: flex;
    flex-direction: row;
}

.header_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid lightgreen;
}

.footer_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid lightgreen;
}