.devinfomodal {
    position: absolute;
    top:5vh;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    background-color: #032116;
    border: 3px solid #04D482;
    border-radius: 20px;
    z-index: 1000;
    width: 52vw;
    height: 90vh;
    max-width: 520px;
    min-height: 60vh;
}

.devinfo_sub_row {
    display:flex;
    width: inherit;
    max-width: inherit;
}

.devinfo_sub_column {
    display: flex;
    flex-direction: column;
    width: inherit;
    max-width: inherit;
}

.devinfo_close_container {
   display: flex;
   flex-flow: row;
   width: inherit;
   max-width: inherit;
   justify-content: space-between;
}

.devinfo_close_container > .close_button {
    margin: 10px;
    cursor: pointer;
}

.top_banner {
    height: 14vh;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: inherit;
    max-width: inherit;
    background-image: url('../images/top_banner.png');
}
.bottom_banner {
    height: 23vh;
    display: flex;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: inherit;
    max-width: inherit;
    background-image: url('../images/bottom_banner.png');
}

.devinfo_title {
    font-family: "OrbitronBold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: #F100A1;
    font-size: 1.25rem;
    margin: 20px;
}

.devinfo_text {
    margin-left: 30px;
    margin-right: 30px;
}