/* .drawlife_container {

} */

.drawlife_grid {
    position: absolute;
}

.drawlife_hud {
    position: absolute;
    z-index: 1;
    top: 6vh;
    right: 1vw;
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #04D482;
    background-color: #472E79;
}

.drawlife_genStart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.env_toggles {
    display: flex;
    flex-flow: row;
    align-items: space-between;
}

.toggle_button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    width: 35px;
    height: 35px;
    border-radius:25px;
    border: 2px solid #49D884;
    margin: 6px;
    background-color: #052115;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
}

.gen_counter {
    color: #F100A1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    width: 35px;
    height: 35px;
    border-radius:25px;
    border: 2px solid #49D884;
    margin: 6px;
    background-color: #052115;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
}

.drawlife_button {
    border-radius:25px;
    border: 2px solid #49D884;
    margin: 6px;
    width: 80px;
    height: 40px;
    background-color: #052115;
    color: #49D884;
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    position: relative;
    z-index: 1;
}
.drawlife_button:hover {
    box-shadow: 0 5px 15px #49D884;
}

.drawlife_button:active {
    background-color: #0c4d30;
}