#instructionsmodal {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.instructionsmodal {
    position: absolute;
    top:15vh;
    left: 26%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: #032116;
    border: 3px solid #04D482;
    border-radius: 20px;
    z-index: 1000;
    width: 50vw;
    min-height: 60vh;
}