#instructionsmodal {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#Conway {
    width: 50%;
    height: 75%;
    border: 3px solid #04D482;
    border-radius: 20px;
}

.instructionsmodal {
    position: absolute;
    top:15vh;
    /* left: 26%; */
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: #032116;
    border: 3px solid #04D482;
    border-radius: 20px;
    z-index: 1000;
    min-width: 50vw;
    max-width: 75vw;
}

.instructions_sub_container_row {
    display: flex;
    flex-flow: row;
    margin: 10px;
}

.instructions_sub_container_column {
    display: flex;
    flex-flow: column;
    margin: 10px;
}

.instructions_close {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}