.login_container {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 600px;
    top: 0px;
    left: 0px;
}

.login_form {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 40vh;
    width: 40vw;
    background-color: #032116;
    border: 2px solid #04D482;
    z-index: 1;
}

.login_background {
    position: absolute;
    display: inline;
}

.login_input_field {
    color: #04D482;
    font-weight: 700;
    font-size: 14px;
    background-color: #381A60;
    outline: none;
}