#signupmodal {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.signupmodal {
    position: absolute;
    top:15vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background-color: #032116;
    border: 3px solid #04D482;
    border-radius: 20px;
    z-index: 1000;
    width: 45vw;
    max-width: 400px;
    min-height: 60vh;
}

.signup_sub_container {
    position: relative;
    top: -2em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.signup_image_upload > img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #49D884;
    cursor: pointer;
}

.register_button {
    border-radius:25px;
    border: 0;
    width: 80px;
    height: 40px;
    background-color: #052115;
    color: #49D884;
    font-size: 15px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    position: relative;
    z-index: 1;
    border: 2px solid #49D884;
    margin: 10px;
}

.register_button:hover {
    box-shadow: 0 5px 15px #49D884;
}

.signup_inputs_container {
    display: flex;
    flex-flow: column;
}

.signup_error {
    color: #F96363;
    margin: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.signup_close_container {
   display: flex;
   flex-flow: row;
   width: inherit;
   max-width: inherit;
   justify-content: flex-end;
   cursor: pointer;
}

.signup_close_container > svg {
    margin: 10px;
}